.App {
  width: 95vw;
  height: 95vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:400000;
}
.loader {
  color: rgb(230, 236, 230);
  width: 7px;
  aspect-ratio: 2;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px rgb(9, 9, 211), 38px 0 0 3px rgb(63, 30, 212), 57px 0 0 0 rgb(80, 2, 2);
  transform: translateX(-38px);
  animation: l21 .5s infinite alternate linear;
}
@keyframes l21 {
  50%  {box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px}
  100% {box-shadow: 19px 0 0 0  , 38px 0 0 3px, 57px 0 0 7px}
}
