.home{
    overflow-y: auto;
    height:75vh;
}
.post{
    position: relative;
}
.post img{
    width: 100%;
    min-height: 500px;
    object-fit:contain;
}
.icon{
    position: absolute;
    bottom: 100px;
    right: 10px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    
    padding: 4px 5px;
    border-radius: 5px;
}


.icon button{
    outline: none;
    border: none;
}
.icon svg{
    font-size: 30px;
    color: rgb(80, 4, 4);
    cursor: pointer;
   
}
.btn{
    width: 80%;
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(199, 196, 196);
    cursor: pointer;
}
