.cam{ 
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-webcam-class{
    height: 100%;
}
.photo {
  width: 60px;
  height: 60px;
  top: 75%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  position: absolute;
}
.circle {
  position: absolute;
  bottom: 9%;
  width:90px;
  height:90px;
  border-radius: 100%;
  background-color: #ffffff;
    transform-translate:-50%, -50%;
  
}
.ring {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  border-radius: 100%;
  border: 5px solid #ffffff;
  opacity: 0.8;
}
.photo .circle, .photo .ring {
  transition: all 0.25s;
}
.photo:hover .circle {
  opacity: 1;
}
.photo:active .ring {
  opacity: 1;
}
.photo:active .circle {
  opacity: 0.5;
}


.re{
    position: absolute;
    top: 53%;
    left: 60%;
    margin-left: 70px;
    background: none;
    border: none;
    color: white;
    font-size: 40px;
}
