.cam{ 
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-webcam-class{
    height: 100%;
}

.circle {
  position: absolute;
  width:80px;
  height:80px;
  border-radius: 100%;
  top: 75%;
  left: 50%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  
}

.re{
    position: absolute;
    padding-top:23px;
    top: 60%;
    left: 60%;
    margin-left: 70px;
    border-radius:10px;
    border: none;
    color: black;
    font-size: 40px;
   background-color:rgba(255,255,255,0.4);
}
