.sendMdg{
    width: 80%;
    margin:auto;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
}
.sendMdg form{
     display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
}
.sendMdg input{
    border: none;
    outline: none;
    width: 80%;
}
