.home{
    overflow-y: auto;
    height:calc(85vh - 75px);
}
.post{
    position: relative;
    width: 100%;
}
.post img{
    width: 100%;
    min-height: 600px;
    object-fit:contain;
}
.icon{
    position: absolute;
    bottom: 100px;
    right: 10px;
    display: flex;
    flex-direction: column;
}
.icon svg{
    font-size: 30px;
    color: white;
   
}
