
.message{
    overflow-y:auto;
    width: 100%;
    height:calc(90vh - 75px);
}
.msg{
    overflow-y: auto;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(245, 240, 240);
}
.message a{
    color: black;
    text-decoration: none;
}
.text{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.msg img{
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
.msg p:first-child{
    font-weight: bold;
    font-size: 16px;
}
.msg p:nth-child(2){
    font-size: 12px;
}
.msg p:nth-child(3){
    font-size: 12px;
    color: grey;
}
